:root {
  --primary: #6fcf97;
  --secondary: #201835;
  --light: #f2f2f2;
  --dark: #828282;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 32px;
  font-weight: bold;
}

h2 {
  font-size: 22px;
  font-weight: bold;
}

p {
  font-size: 16px;
}

.primary-bg {
  background-color: var(--primary);
}
.secondary-bg {
  background-color: var(--secondary);
}
.primary-c {
  color: var(--primary);
}
.secondary-c {
  color: var(--secondary);
}
.light-c {
  color: var(--light);
}
.light-bg {
  background-color: var(--light);
}
.dark-c {
  color: var(--dark);
}
.dark-bg {
  background-color: var(--dark);
}

a {
  text-decoration: none;
  font-weight: bold;
}

li {
  margin-top: 5px;
  border-radius: 15px;
}

ul {
  list-style-type: none;
}

.m25 {
  margin: 25px 0;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  text-align: center;
}

.content {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 360px;
}

.header {
  text-align: center;
}

.list-container {
  text-align: center;
  margin-top: 16px;
}

.pet-card {
  display: flex;
  justify-content: space-between;
  border-radius: 28px;
  padding: 2px;
  background-color: var(--light);
}

.pet-status {
  margin-right: 20px;
  line-height: 1.7;
  color: var(--primary);
}

.pet-content-header {
  margin-top: 5px;
  border-radius: 15px;
  width: 280px;
  background-color: var(--light);
}

.pet-content-id {
  padding: 5px;
  text-align: center;
  color: var(--secondary);
}

.pet-content-name {
  padding: 5px;
  text-align: center;
  border-radius: 15px 15px 0 0;
  color: var(--light);
  background-color: var(--primary);
}

.pet-info-img {
  width: 280px;
  height: 280px;
  background-repeat: no-repeat;
  background-image: url("./Images/placeHolder.png");
}

.pet-info-txt {
  width: 280px;
  text-align: center;
  line-height: 2;
  background-color: var(--primary);
  color: var(--light);
}

.btn {
  height: 28px;
  border-radius: 16px;
  border: none;
  font-weight: bold;
  padding: 6px 32px;
  cursor: pointer;
}

.btn:hover {
  transition: 250ms;
  background-color: var(--secondary);
}
